{% comment %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-login" viewBox="0 0 28.33 37.68"><path d="M14.17 14.9a7.45 7.45 0 1 0-7.5-7.45 7.46 7.46 0 0 0 7.5 7.45zm0-10.91a3.45 3.45 0 1 1-3.5 3.46A3.46 3.46 0 0 1 14.17 4zM14.17 16.47A14.18 14.18 0 0 0 0 30.68c0 1.41.66 4 5.11 5.66a27.17 27.17 0 0 0 9.06 1.34c6.54 0 14.17-1.84 14.17-7a14.18 14.18 0 0 0-14.17-14.21zm0 17.21c-6.3 0-10.17-1.77-10.17-3a10.17 10.17 0 1 1 20.33 0c.01 1.23-3.86 3-10.16 3z"/></svg>
{% endcomment %}


<?xml version="1.0" encoding="UTF-8"?>
<svg width="34px" height="40px" viewBox="0 0 34 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Account</title>
    <defs>
        <filter id="filter-1">
            <feColorMatrix in="SourceGraphic" type="matrix" values="0 0 0 0 0.212153 0 0 0 0 0.500170 0 0 0 0 0.473030 0 0 0 1.000000 0"></feColorMatrix>
        </filter>
        <polygon id="path-2" points="0 0.000115 16.4628 0.000115 16.4628 23 0 23"></polygon>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Header" transform="translate(-1075.000000, -80.000000)">
            <rect id="Nav-BG" fill="#FFFFFF" x="0" y="35" width="1200" height="98"></rect>
            <g id="Account" transform="translate(1075.000000, 80.000000)">
                <text id="Log-In" font-family="Nunito-Regular, Nunito" font-size="12" font-weight="normal" fill="#3E3838">
                    <tspan x="0.422" y="35.2923235">Log In</tspan>
                </text>
                <g id="icon/user" transform="translate(9.500000, 0.000000)" filter="url(#filter-1)">
                    <g id="Group-3">
                        <mask id="mask-3" fill="white">
                            <use xlink:href="#path-2"></use>
                        </mask>
                        <g id="Clip-2"></g>
                        <path d="M13.3775267,19.974465 C12.55586,20.240115 10.60086,20.700115 8.23106,20.700115 C6.02899333,20.700115 3.97539333,20.189515 3.03812667,19.882465 C2.53152667,18.891165 2.26632667,17.775665 2.26632667,16.619915 C2.26632667,12.961765 4.94212667,9.986715 8.23106,9.986715 C11.5199933,9.986715 14.1969267,12.961765 14.1969267,16.619915 C14.1969267,17.812465 13.9147267,18.960165 13.3775267,19.974465 M8.23106,2.300115 C9.62959333,2.300115 10.7663267,3.453565 10.7663267,4.872665 C10.7663267,6.290615 9.62959333,7.444065 8.23106,7.444065 C6.83366,7.444065 5.69692667,6.290615 5.69692667,4.872665 C5.69692667,3.453565 6.83366,2.300115 8.23106,2.300115 M11.5007267,8.422715 C12.4391267,7.533765 13.0329933,6.276815 13.0329933,4.872665 C13.0329933,2.181665 10.88306,0.000115 8.23106,0.000115 C5.58019333,0.000115 3.43026,2.181665 3.43026,4.872665 C3.43026,6.276815 4.02412667,7.533765 4.96252667,8.422715 C2.04306,9.795815 -0.00034,12.947965 -0.00034,16.619915 C-0.00034,18.503615 0.537993333,20.251615 1.45599333,21.693715 C1.57272667,21.877715 4.70412667,23.000115 8.23106,23.000115 C11.7591267,23.000115 14.76586,22.068615 14.9811933,21.733965 C15.91506,20.284965 16.4635933,18.522015 16.4635933,16.619915 C16.4635933,12.947965 14.4201933,9.795815 11.5007267,8.422715" id="Fill-1" fill="#377f79" mask="url(#mask-3)"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>