<?xml version="1.0" encoding="UTF-8"?>
<svg width="11px" height="13px" viewBox="0 0 11 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>icon/location</title>
    <defs>
        <filter id="filter-1">
            <feColorMatrix in="SourceGraphic" type="matrix" values="0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0"></feColorMatrix>
        </filter>
        <polygon id="path-2" points="0 0 10.5685556 0 10.5685556 13 0 13"></polygon>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Header" transform="translate(-1013.000000, -161.000000)">
            <rect id="Rectangle-Copy-8" fill="#368079" x="0" y="133" width="1202" height="75"></rect>
            <g id="Location" transform="translate(995.000000, 153.000000)">
                <rect id="Rectangle" fill="#58938D" x="0" y="0" width="180" height="30" rx="15"></rect>
                <g id="Group-6" transform="translate(18.000000, 8.000000)" filter="url(#filter-1)">
                    <g>
                        <g id="Group-3">
                            <mask id="mask-3" fill="white">
                                <use xlink:href="#path-2"></use>
                            </mask>
                            <g id="Clip-2"></g>
                            <path d="M5.28452222,11.8181818 C4.02563333,11.8181818 1.22185556,7.53881818 1.22185556,5.11018182 C1.22185556,2.94390909 3.04418889,1.18181818 5.28452222,1.18181818 C7.52485556,1.18181818 9.34718889,2.94390909 9.34718889,5.11018182 C9.34718889,7.53881818 6.54341111,11.8181818 5.28452222,11.8181818 M5.28452222,0 C2.37074444,0 -0.000366666667,2.29154545 -0.000366666667,5.11018182 C-0.000366666667,7.65109091 2.96107778,13 5.28452222,13 C7.60796667,13 10.5694111,7.65109091 10.5694111,5.11018182 C10.5694111,2.29154545 8.1983,0 5.28452222,0" id="Fill-1" fill="#000000" mask="url(#mask-3)"></path>
                        </g>
                        <path d="M5.14078889,6.5 C4.46734444,6.5 3.91856667,5.96936364 3.91856667,5.31818182 C3.91856667,4.667 4.46734444,4.13636364 5.14078889,4.13636364 C5.81423333,4.13636364 6.36301111,4.667 6.36301111,5.31818182 C6.36301111,5.96936364 5.81423333,6.5 5.14078889,6.5 M5.14078889,2.95454545 C3.79267778,2.95454545 2.69634444,4.01463636 2.69634444,5.31818182 C2.69634444,6.62172727 3.79267778,7.68181818 5.14078889,7.68181818 C6.4889,7.68181818 7.58523333,6.62172727 7.58523333,5.31818182 C7.58523333,4.01463636 6.4889,2.95454545 5.14078889,2.95454545" id="Fill-4" fill="#000000"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>