<p class="product__free-shipping">
{%- assign ship_free = 5000 -%}
{%- assign cart_price = cart.original_total_price | minus: cart.total_discount -%}
{%- assign price_til_free_ship = ship_free | minus: cart_price -%}
{%- if cart_price >= ship_free -%}

    <svg class="free-shipping__icon free-shipping__icon--free" width="55px" height="43px" viewBox="0 0 55 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(2.000000, 1.296387)" fill="#1B1A19">
                <path d="M33.7557915,24.6519995 L31.5709838,25.717541 L31.5709838,20.9424313 L17.0077306,15.988239 L20.3245963,14.926535 L33.7557915,19.2590548 L33.7557915,24.6519995 Z M24.4153546,6.83072214 L24.4153546,0.567947684 L25.6945161,0.567947684 L25.6945161,6.83072214 L24.4153546,6.83072214 Z M12.145638,11.8245684 L8.11883772,7.02643385 L9.0986754,6.20393303 L13.1241965,11.0020676 L12.145638,11.8245684 Z M37.9655118,11.8245684 L36.9856742,11.0020676 L41.0124744,6.20393303 L41.9910329,7.02643385 L37.9655118,11.8245684 Z M6.16811651,22.9993229 L0,21.9120356 L0.222574092,20.6520616 L6.39069061,21.740628 L6.16811651,22.9993229 Z M43.9417541,22.9993229 L43.71918,21.740628 L49.8872966,20.6520616 L50.1098707,21.9120356 L43.9417541,22.9993229 Z" id="Combined-Shape"></path>
                <path d="M27.0299606,22.018206 L14.7730356,17.6242865 L24.6545578,14.4852243 L35.6962794,17.8430231 L27.0299606,22.018206 Z M36.7413543,31.4046928 L27.7053579,37.7761959 L27.7053579,23.1118891 L36.7413543,18.7589027 L36.7413543,31.4046928 Z M13.8405269,18.6501739 L26.4261964,23.1604972 L26.4261964,37.7902667 L13.8405269,31.3445722 L13.8405269,18.6501739 Z M38.0205158,17.2392589 L24.648162,13.1408256 L12.5613654,17.0038932 L12.5613654,32.127419 L27.2602097,39.6552841 L38.0205158,32.0672984 L38.0205158,17.2392589 Z" id="Fill-8"></path>
            </g>
        </g>
    </svg>
    <span class="free-shipping__text">You get free delivery!</span>

{%- else -%}

    <svg class="free-shipping__icon" width="55px" height="43px" viewBox="0 0 55 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M39.7403513,32.4780374 L30.315814,39.1221762 L30.315814,26.3528887 L33.3643797,31.6561922 L39.7403513,27.3975394 L39.7403513,32.4780374 Z M15.854806,32.4153317 L15.854806,27.7057314 L25.7276226,32.3579627 L28.9816496,26.3208687 L28.9816496,39.1381862 L15.854806,32.4153317 Z M15.1103423,18.9095854 L28.814879,23.8179763 L25.1525977,30.6115414 L11.3213154,24.0954825 L15.1103423,18.9095854 Z M26.3933706,15.0658578 L26.3933706,21.5325527 L16.8274119,18.1050843 L26.3933706,15.0658578 Z M29.6113752,22.6866049 L27.727535,22.0115177 L27.727535,15.0098229 L38.650339,18.3318923 L29.6113752,22.6866049 Z M43.665463,23.1709066 L33.8099906,29.7550079 L30.3851905,23.7952955 L40.3927577,18.9963061 L43.665463,23.1709066 Z M45.6040039,23.4804327 L41.0745158,17.7021667 L27.1284952,13.4275039 L14.5206416,17.4566804 L9.29205129,24.6131383 L14.5206416,27.0773399 L14.5206416,33.2305062 L29.8528589,41.0820637 L41.0745158,33.1678004 L41.0745158,26.5063176 L45.6040039,23.4804327 Z" id="Fill-10" fill="#1B1A19"></path>
        </g>
    </svg>

    <span class="free-shipping__text">Spend {{ price_til_free_ship | money }} to get free delivery ($5 savings).</span>
        {% comment %}<span class="ship-text">Free domestic shipping on all orders!</span>{% endcomment %}
{%- endif -%}
</p>
