<section class="section__how-it-works section--short">
    <div class="container">

        <h2>How BloomBox Works</h2>
        <p class="how-it-works__intro">We’re dedicated to providing you quality plants directly to your door. Here’s how we do it:</p>

    </div>

    <div class="container--wide section--tall">
        <ol class="list__how-it-works grid--3-col">
            <li>
                <img src="https://cdn.shopify.com/s/files/1/0457/4632/3611/files/icon-greenhouse.svg?v=1610158358" alt="" width="129" height="69" role="presentation" class="how-it-works__icon" style="top: -5.5rem;" />
                <p>All of our plants are sourced and grown with care by <span class="h4">the best local greenhouses</span></p>
            </li>
            <li>
                <img src="https://cdn.shopify.com/s/files/1/0457/4632/3611/files/icon-hand-selected.svg?v=1610158358" alt="" width="113" height="98" role="presentation" class="how-it-works__icon" />
                <p>Each plant is <span class="h4">hand-picked by BloomBox</span> to ensure you’re getting the healthiest options</p>
            </li>
            <li>
                <img src="https://cdn.shopify.com/s/files/1/0457/4632/3611/files/icon-delivered.svg?v=1610158358" alt="" width="126" height="97" role="presentation" class="how-it-works__icon" />
                <p>We then carefully pack your plants in open top boxes that are <span class="h4">hand-delivered to your door</span></p>
            </li>
        </ol>

        <p><a href="/pages/reviews" class="btn--secondary">See Our Reviews!</a></p>
    </div>
</section>



{% schema %}
{
  "name": {
    "en": "How It Works",
    "es": "Cómo Funciona"
  },
  "presets": [
    {
      "name": {
        "en": "How It Works",
        "es": "Cómo Funciona"
      },
      "category": {
        "en": "Advanced layout",
        "es": "Diseño avanzado"
      }
    }
  ]
}
{% endschema %}
