{%- if section.settings.show_product_recommendations -%}
  {%- if recommendations.performed -%}
    {%- if recommendations.products_count > 0 -%}
      <div class="product-recommendations__inner">
        {%- if section.settings.heading != blank -%}
          <div class="section-header text-center">
              <h2><span>Related Products</span>We think you'll love these!</h2>
            {% comment %}<h2>{{ section.settings.heading | escape }}</h2> {% endcomment %}
          </div>
        {%- endif -%}
        <ul class="list__related-products grid--4-col persistent-grid">
          {%- for product in recommendations.products -%}
            <li class="product-grid__item{% if in_pa and in_md %} product--is-pa-md{% elsif in_pa %} product--is-pa{% elsif in_md %} product--is-md{% endif %}">
                {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
  {%- else  -%}
    <div class="container--wide" data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations"></div>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": {
    "en": "Product recommendations",
    "es": "Recomendaciones de productos"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_product_recommendations",
      "label": {
        "en": "Show dynamic recommendations",
        "es": "Mostrar recomendaciones dinámicas"
      },
      "info": {
        "en": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
        "es": "Las recomendaciones dinámicas cambian y mejoran con el tiempo. [Más información](https://help.shopify.com/en/themes/development/recommended-products)"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading",
        "es": "Título"
      },
      "default": {
        "en": "You may also like these plants",
        "es": "También te puede interesar"
      }
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "en": "Show vendor",
        "es": "Mostrar proveedor"
      },
      "default": false
    }
  ]
}
{% endschema %}
