<div id="rbz-zipcode-check-section"></div>

{%schema%}

{
	"name": "Zipcode Restriction",
	"presets": [
		{
			"name": "Zipcode Restriction",
			"category": "Zip code check & waiting list"
		}
	]
}

{%endschema%}