<header class="collection-header">
  {%- include 'hero-image', hero_image_fallback: 'Jobs_2020_BloomBox_564.jpg' -%}
</header>

<div class="page__intro-container container container--wide">
    <span class="collection__dog-ear" role="presentation"></span>
    <div class="page__intro">

        <h1>{{ page.title }}</h1>
        <p class="text--intro">{{ page.content }}</p>

    </div>

    <div class="container--skinny section--short">

        <!-- Policies -->
        <ul class="accordion" data-aria-accordion data-multi data-transition data-default="none">
            {% for jobTitle in page.metafields.page_accordion.accordion_headline %}
            <li>
                <h3 class="accordion__heading" data-aria-accordion-heading>
                    {{ jobTitle }} 
                </h3>
                <div class="accordion__panel" data-aria-accordion-panel>
                    {{ page.metafields.page_accordion.accordion_content[forloop.index0] }}
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
{% section 'feature-columns-jobs' %}
