<header class="collection-header">
  {%- include 'hero-image', hero_image_fallback: 'FAQs2020_BloomBox_218.jpg' -%}
</header>

<div class="page__intro-container container container--wide">
    <span class="collection__dog-ear" role="presentation"></span>
    <div class="page__intro">

        <div style="max-width: 700px; margin: 0 auto;">

            <h1>Sorry! We don't deliver to your zip code yet.</h1>
            <p class="text--intro">But stop by our booth to say, "Hi," and get a free gift!</p>

            <hr />

            <h3>Where are you located?</h3>
            <p>Fill out this form so we can let you know when we do and send you a $10 off coupon.</p>

        </div>

    </div>
</div>

<div id="area-alerts" class="container--wide section--short where-we-are__alerts-form">
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="https://getblooming.us13.list-manage.com/subscribe/post?u=c50ee0e69c184d7690f8dcd79&amp;id=d7f4b8b0e2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

            <div class="grid--3-col">
                <div class="mc-field-group">
                	<label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                </label>
                	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div class="mc-field-group">
                	<label for="mce-FNAME">Name </label>
                	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                </div>
                <div class="mc-field-group">
                	<label for="mce-MMERGE2">Zip Code <span class="asterisk">*</span></label>
                	<input type="text" value="" name="MMERGE2" class="required" id="mce-MMERGE2">
                </div>
            </div>


        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c50ee0e69c184d7690f8dcd79_d7f4b8b0e2" tabindex="-1" value=""></div>
            <div class="text-center">
                <input type="submit" value="Let Me Know!" name="subscribe" id="mc-embedded-subscribe" class="btn--primary small" style="width:auto;">
            </div>
            </div>
        </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='MMERGE2';ftypes[2]='zip';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->

    <script>
      // Get zip code using this global function
      const zip = blbZone.getZip();

      // Grab the input element and update it's value
      document.querySelector("#mce-MMERGE2").value = zip
    </script>
</div>
