<header class="collection-header">
  {%- include 'hero-image', hero_image_fallback: 'About_2020_BloomBox_264.jpg' -%}
</header>

<div class="page__intro container section--short">
    <section class="container">

        <h1>{{ page.title }}</h1>
        <p>{{ page.content }}</p>

    </section>
</div>
