<header class="collection-header">
  {%- include 'hero-image', hero_image_fallback: 'FAQs2020_BloomBox_218.jpg' -%}
</header>

<div class="page__intro-container container container--wide" id="intro">
    <span class="collection__dog-ear" role="presentation"></span>
    <div class="page__intro text-center" style="padding-bottom: 0;">

        <div style="max-width: 700px; margin: 0 auto;">

            <h1><span>Enter to Win</span> A BloomBox Flower Show Planter <span>delivered to your door!</span></h1>
            <p class="text--intro text-center" style="margin-bottom: 0;">Plus, get a $10 off coupon just for entering.</p>
            
        </div>

    </div>
</div>

<div class="section--tall container--skinny" style="padding-top: 0;">
    <script type="text/javascript" src="https://bloombox.formstack.com/forms/js.php/bloombox_planter_giveaway?nojquery=1"></script><noscript><a href="https://bloombox.formstack.com/forms/bloombox_planter_giveaway" title="Online Form">Online Form - BloomBox Planter Giveaway</a></noscript><script type='text/javascript'>if (typeof $ == 'undefined' && jQuery){ $ = jQuery}</script>


    <p><small>By entering in the BloomBox Planter Giveaway, you agree to receive marketing emails from BloomBox.</small></p>
    <p><small> Must be in our delivery area to win. <a href="/pages/where-we-are">See where we deliver.</a></small></p>

</div>
