<header class="collection-header">
  {%- include 'hero-image', hero_image_fallback: 'FAQs2020_BloomBox_218.jpg' -%}
</header>

<div class="page__intro-container container container--wide">
    <span class="collection__dog-ear" role="presentation"></span>
    <div class="page__intro" style="padding-bottom: 0;">

        <div style="max-width: 700px; margin: 0 auto;">

            <h1>Great! We deliver to your area.</h1>
            <p>Please fill out the form below to get your $10 off coupon.</p>

        </div>

    </div>
</div>

<div class="section--tall container--skinny" style="padding-top: 0;">

<script type="text/javascript" src="https://bloombox.formstack.com/forms/js.php/bloombox_planter_giveaway_copy?nojquery=1"></script><noscript><a href="https://bloombox.formstack.com/forms/bloombox_planter_giveaway_copy" title="Online Form">Online Form - BloomBox PFS Coupon</a></noscript><script type='text/javascript'>if (typeof $ == 'undefined' && jQuery){ $ = jQuery}</script>

    <p>
        <small>By requesting this coupon, you agree to receive marketing emails from BloomBox.</small>
    </p>

</div>




<!-- Contact Callout-->
<section class="section__testimonials">
    <div class="container--slim section--short bg--pink bg--pattern-bottom text-center">

        <h2>New to BloomBox?</h2>
        <p class="text-center"><a href="/pages/how-it-works" class="btn--primary">See How We Work!</a></p>

    </div>
</section>
