<header class="collection-header">
  {%- include 'hero-image', hero_image_fallback: 'FAQs2020_BloomBox_218.jpg' -%}
</header>

<div class="page__intro-container container container--wide">
    <span class="collection__dog-ear" role="presentation"></span>
    <div class="page__intro text-center">

        <div style="max-width: 700px; margin: 0 auto;">

            <h1>You are entered to win!</h1>
            <p>Your name has been entered into our drawing to win one of our beautiful planters seen at the Philadelphia Flower Show. BloomBox will select winners on [date]. If your name is selected, we will reach out to you to schedule delivery.</p>

            <h2 class="h3">Get $10 off your next purchase!</h2>
            <p>It was great to see you at the Philadelphia Flower Show! As a special thank you, enjoy $10 off your next purchase at <a href="/">GetBlooming.com</a>.</p>
            <p><strong><code style="font-size: 24px; background-color: #cddec1; display: inline-block; padding: .25em 1em;">FLOWERSHOW10</code></strong></p>
            <p><small>Valid June 5 - June 30. One time use only.</small></p>
            
        </div>

    </div>
</div>
