<header class="collection-header">
  {%- include 'hero-image', hero_image_fallback: 'FAQs2020_BloomBox_218.jpg' -%}
</header>

<div class="page__intro-container container container--wide">
    <span class="collection__dog-ear" role="presentation"></span>
    <div class="page__intro text-center">

        <div style="max-width: 700px; margin: 0 auto;">

            <h1>Enjoy $10 off you next purchase</h1>
            <p><strong><code style="font-size: 24px; background-color: #cddec1; display: inline-block; padding: .25em 1em;">FLOWERSHOW10</code></strong></p>
            <p><small>Valid June 5 - June 30. One time use only.</small></p>
            <p><em>Pssst! We also sent it to your email!</em></p>
        
            
        </div>

    </div>
</div>
